<html ng-app="fibapp">
<head>
  <title>피보나치킨</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script language="javascript">
    var app = angular.module('fibapp',[]);
    app.controller('fibctrl',function($scope){
    $scope.fibnaci=[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181,
             6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040,
             1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169,
             63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170,
             1836311903];
    $scope.chilist=[
    {"name":"둘둘치킨","val":15000},
    {"name":"굽네치킨","val":14000},
    {"name":"치킨매니아","val":15000},
    {"name":"네네치킨","val":15000},
    {"name":"페리카나","val":15000},
    {"name":"교촌치킨","val":14000},
    {"name":"또래오래치킨","val":14000},
    {"name":"비비큐","val":15000},
    {"name":"파파이스","val":16600},
    {"name":"KFC","val":18900},
    {"name":"롯데리아","val":17900}
    ];
    $scope.humancount=4;
    $scope.history=false;
    $scope.chickencount = calc($scope.humancount);
    $scope.changehuman= function(){
      $scope.chickencount = calc($scope.humancount);
    }
    function calc(human){
      console.log(human);
      if(human<1)
        return 0;
      for(var i=$scope.fibnaci.length;i>0;i--){
        if($scope.fibnaci[i]<=human){
          return $scope.fibnaci[i-1]+calc(human-$scope.fibnaci[i])
        }
      }
      return 0;
    }
    });
  </script>
</head>
<body ng-controller="fibctrl">
<div class = "container">
  <div class="row">
    <div class="xs-cols-12">
      <a href="http://fibonachicken.herokuapp.com/#">피보나치킨 웹 원래 링크</a>
    </div>
  </div>
  <div class="row">
    <div class="xs-cols-12">
      <h1>FibonaChicken</h1><br/>
      세상 만사 모든 것의 균형은 황금 비율에서 그 해답을 찾을 수 있고,<br/>
이를 수학적으로 풀어낸것이 바로 피보나치 수열이니라.<br/>
일찍이 선지자가 있어, 치킨과 피보나치 수열의 관계를 밝힌 자들이 있으니<br/>
그들의 끝을 모르는 탐구 정신과 널리 인간과 치킨을 이롭게 하려는 마음을 높이 사,<br/>
내 잠시 짬을 내어 허접한 코드질을 하였으니 이를 피보나치킨 계산기라고 부르도록 하겠다<br/>
      <button type="button" class="btn btn-primary" ng-click="history=!history">선지자의 자취</button><br/>
      <img ng-show="history" src="http://fibonachicken.herokuapp.com/static/snubamboo.png"/>
    </div>
  </div>
  <div class= "row">
    <div class="xs-cols-12">
      <form name="dfdf">
      <h1>자애로운 자여, 몇 명이나 먹이려고 하는고?</h1><br/>
      <input name="hc" type="number" ng-model="humancount" min="1" max="40000" ng-change="changehuman()">
      </form>
      <span ng-show="chickencount>100">
      이걸 시킬 돈이나 있을지 모르겟.....
      </span>
      <span ng-show="dfdf.hc.$error.number==false&&dfdf.hc.$error.max==false&&dfdf.hc.$error.min==false">
      {{humancount}} 명이 먹을땐..<br/>
      {{chickencount}} 마리를 주문하면 됩니다.<br/>
      <div ng-repeat="chi in chilist">
        {{chi.name}} 에 주문시 {{chi.val*chickencount}} 원이 필요합니다.
      </div>
      </span>
      <span ng-show="dfdf.hc.$error.number==true">
      몇사람이 먹을건지 숫자를 넣으세요!!
      </span>
      <span ng-show="dfdf.hc.$error.max==true">
      가게를 차리세요..
      </span>
      <span ng-show="dfdf.hc.$error.min==true">
      사람이 없으면 뭐하러 치킨을 시키니??
      </span>
    </div>
  </div>
</div>
</body>
</html>

